*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #ffffff;
}

/* NAVBAR */
.navbar{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    position: fixed; /* stays at top */
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid #eee;
    
    
}

/* Logo */
.logo img{
    width: 5rem;
}

/* Nav links */
.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a{
    text-decoration: none;
    color: #580491;
    font-weight: bold;
    font-size: 1.1rem
}

/* Newsletter text */
.newsletter a{
    color: #f47c20; /* orange color like sample */
    font-weight: bold;
    text-decoration: none;
}

/* MAIN HERO SECTION */
.hero{
    
  zoom: inherit;
    
    
}


#hero {
color: #2e023a;
font-size: 1.8rem;
font-family:Arial, Helvetica, sans-serif ;
font-weight: 700;
position: absolute;
bottom: 1rem;
left: 75rem;

}


#hero p {
font-size:1.8rem;
font-weight:700 ;
position: absolute;
bottom: 10rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Background color just like screenshot */
body {
    background: linear-gradient(to bottom, #e3c5dd, #f5e7d7);
}

/* Center content */
.hero {
    text-align: center;
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

.hero h2 {
    font-size: 22px;
    font-weight: 700;
    color: #222;
    line-height: 1.5;
}

.sub-text {
    margin-top: 15px;
    font-size: 16px;
    color: #444;
}

/* Vitamin section layout */
.vitamin-section {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vit-box {
    width: 28%;
    text-align: center;
}

.vit-box h3 {
    font-size: 18px;
    font-weight: bold;
    color: #5a3b9c;
}

.vit-box p {
    font-size: 14px;
    color: #444;
    margin-top: 10px;
}

.product-img {
    width: 220px;
}




.hero-3{
height: 24rem;
width: 10px;
display: flex;
gap: 3rem;

}


.image-container {
position: relative;
width: ;
}


.main-img {
width: 100%;
display: block;
}

















