.cards {
display: flex;
gap: 20px;
padding: 20px;

}

.card {
width: 200px;
background: white;
padding: 15px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0 1);

}

.photo{
width: 100px;
height: 120px;
background: #ddd;
border-radius: 10px;
margin-bottom: 10px;

}

.card h3{
margin: 10px 0;
text-align: center;

}

.card p {
text-align: center;

}

























