div{
    height: 100px;
    width: 100px;
    background-color: brown;

}

.box2{
    background-color: blue;
    height: 200px;
    width: 500px;
}

#box3{
background-color: aqua;
height: 1000px;
width: 4000px;

}

div{
height: 100px;
width: 200px;
background-color: aqua;


}

 box1{
background-color: blue;
   height: 100px;  
width: 200px;

 }
box3{
    background-color: brown;
height: 100pxn;
width: ;200px

}











